/* Custom CSS goes here */
body {
  padding-bottom: 70px;
  }

h3 {
  color: #024100;
  letter-spacing: 0.1em;
  line-height: 2em;
}

.innerdiv {
	margin-top:2%;
	margin-bottom:5%;
	margin-right: auto;
	margin-left: auto;
	background-color: #f2fdfd;
	width:60%;
	border: 2px solid #8f0377;
	box-shadow: 5px 5px rgb(105, 105, 105);
	padding: 2%;
	border-radius: 25px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
